[submodule "xmarts/l10n_do_v15"]
	path = xmarts/l10n_do_v15
	url = git@github.com:xmarts/l10n_do_v15.git
	branch = 15.0

[submodule "xmarts/cancel-purchase-orders"]
	path = xmarts/cancel-purchase-orders
	url = git@github.com:xmarts/cancel-purchase-orders.git
	branch = main

[submodule "xmarts/declaraciones_dgii"]
	path = xmarts/declaraciones_dgii
	url = git@github.com:xmarts/declaraciones_dgii.git
	branch = v15-jun

[submodule "xmarts/purchase-discount"]
	path = xmarts/purchase-discount
	url = git@github.com:xmarts/purchase-discount.git
	branch = 15.0
